.main-container {
  padding: 1vw;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'left middle right';
  justify-content: space-between;
  align-content: start;
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
  text-align: right;
}

.time {
  font-size: 9vw;
  line-height: 9vw;
}

.date {
  font-size: 3vw;
  line-height: 3vw;
}

.current-temp {
  font-size: 9vw;
  line-height: 9vw;
}