.main-container {
  padding: 1vw;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-areas: 'left middle right';
  justify-content: space-between;
  align-content: start;
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
  text-align: right;
}

.time {
  font-size: 10vw;
  line-height: 12vw;
}

.date {
  font-size: 3.5vw;
  line-height: 3vw;
}

.current-weather {
  font-size: 10vw;
  line-height: 12vw;
  margin-bottom: 1vw;
}

.current-weather > .wi {
  font-size: 9vw;
  margin-right: 1vw;
}

.forecast > * {
  display: inline-block;
  text-align: center;
  padding-right: 1vw;
}

.forecast .temp {
  font-size: 2.5vw;
  line-height: 4vw;
  font-weight: 600;
}

.forecast .weather {
  font-size: 4vw;
  line-height: 5vw;
}

.forecast .time {
  font-size: 2vw;
  line-height: 3vw;
}

.graph-line {
  stroke: rgba(255, 255, 255, 0.25);
}

.graph-line.origin {
  stroke: rgba(255, 255, 255, 0.5);
}