.main-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'left middle right';
  justify-content: space-between;
  align-content: start;
}

.left {
  grid-area: left;
  background-color: red;
}

.middle {
  grid-area: middle;
  background-color: green;
}

.right {
  grid-area: right;
  background-color: blue;
}